<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Panel </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link rel="stylesheet" type="text/css" media="screen" href="/src/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/src/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/src/amazonas/css/AdminLTE.css" />
    <link rel="stylesheet" type="text/css" href="/src/tools/css/k-alert.css">

    <script type="text/javascript" src="/src/jquery/jquery.min.1.9.1.js"></script>
    <script type="text/javascript" src="/src/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/src/tools/js/k-alert.js"></script>

</head>
<body class="login-page">
    <div class="login-box">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>