{% extends "layouts/email.users.twig" %}

{% block content %}
    <h1>Recuperar su clave de acceso.</h1>

    <p>
        Para recuperar su clave de acceso por favor haga click <a href="{{ base_url }}{{ build_url('user-modify-password', {token:token}) }}">aqu&iacute;</a> &oacute; copie y pegue el siguiente enlace en su navegador:
    </p>

    <div style="padding: 10px; background-color: #FCF8E3; border: 1px solid #faebcc;">
        {{ base_url }}{{ build_url('user-modify-password', {token:token}) }}
    </div>
{% endblock %}