{% extends "layout.web.twig" %}

{% block carousel %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-9 content-page">

            <h3>Cuenta no v&aacute;lida</h3>

            <div style="margin-bottom: 30px;"></div>

            <div class="alert alert-danger" role="alert">
                Lo sentimos pero su cuenta no es v&aacute;lida, por favor cont&aacute;cte al administrador.
            </div>

        </div>

        <div class="col-lg-3 content-bottom">
            <div class="categories">

            </div>
        </div>
    </div>
{% endblock %}