{% extends "layout.web.twig" %}

{% block carousel %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-9 content-page">

            <h3>Error en la cuenta</h3>

            <div style="margin-bottom: 30px;"></div>

            <div class="alert alert-success" role="alert">
                Lo sentimos pero su cuenta no se encuentra aprobada en este momento por el administrador, por favor intente m&aacute;s tarde.
            </div>

        </div>

        <div class="col-lg-3 content-bottom">
            <div class="categories">

            </div>
        </div>
    </div>
{% endblock %}