{% extends "layouts/email.users.twig" %}

{% block content %}
<h1>Felicitaciones, su cuenta de correo ha sido verificada.</h1>

<div>
    <p>Ahora usted podr&aacute; hacer uso de las funciones al iniciar sesi&oacute;n en el sistema.</p>
</div>
{% endblock %}