{% extends "layout.web.twig" %}

{% block carousel %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-9 content-page">

            <h3>Registro de usuarios</h3>

            <div style="margin-bottom: 30px;"></div>

            <div class="alert alert-success" role="alert">
                Usted se ha registrador exit&oacute;samente!! y le hemos enviado un correo electr&oacute;nico a su direcci&oacute;n para confirmarla. Por favor verifique y siga las instrucciones.
            </div>

        </div>

        <div class="col-lg-3 content-bottom">
            <div class="categories">

            </div>
        </div>
    </div>
{% endblock %}